<app-swiper-pricing></app-swiper-pricing>
<div class="select-payment-content">
    <div class="container">
        <h2 class="mt-4 eTranfer-title">Select Payment</h2>
        <div class="row justify-content-center">
            <div class="col-lg-3 mb-3">
                <div class="card p-2 etransfer-item">
                    <div class="card-body justify-content-center">
                        <div class="d-flex">
                            <div class="p-2">
                                <img class="" src="../../../../assets/img/trac--292-1@1x.png">
                            </div>
                            <div class="p-2 flex-grow-1">
                                <h4 class="card-title">Credit Card</h4>
                            </div>
                            <div class="p-2">
                                <img class="flex-shrink-1" src="../../../../assets/img/trac--10-10@1x.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card p-2 etransfer-item">
                    <div class="card-body justify-content-center">
                        <div class="d-flex">
                            <div class="p-2">
                                <img class="" src="../../../../assets/img/trac--279@1x.png">
                            </div>
                            <div class="p-2 flex-grow-1">
                                <h4 class="card-title">Etransfer</h4>
                            </div>
                            <div class="p-2">
                                <img class="flex-shrink-1" src="../../../../assets/img/trac--10-10@1x.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card p-2 etransfer-item">
                    <div class="card-body justify-content-center">
                        <div class="d-flex">
                            <div class="p-2">
                                <img class="" src="../../../../assets/img/trac--50-1@1x.png">
                            </div>
                            <div class="p-2 flex-grow-1">
                                <h4 class="card-title">Bank Debit</h4>
                            </div>
                            <div class="p-2">
                                <img class="flex-shrink-1" src="../../../../assets/img/trac--10-10@1x.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>