.etransfer-instructions-content *{
    color:#0462c7;
    font-family: ubuntu;
}
.etranfer-instructions-content-body *{
    font-weight: 500;
}
.etransfer-instructions-code{
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 1px 0px 0px #0462c7;
}
.etransfer-instructions-price{
    font-weight: bolder;
    font-size: 1.2rem;
    text-shadow: 1px 0px 0px #0462c7;
}
.etransfer-instructions-unit-price{
    margin-left: 5px;
}
.etransfer-payment-email{
    font-weight: bolder;
    font-size: 1rem;
    color: #0462c7;
    text-shadow: 1px 0px 0px #0462c7;
}
.etranfer-instructions-payment-area {
    text-align: center;
}
.etransfer-instructions-btn{
    padding: 10px;
    background: rgb(195,235,232);
    background: linear-gradient(90deg, rgba(195,235,232,1) 0%, rgba(111,178,232,1) 55%, rgba(48,135,232,1) 100%);
    box-shadow: 1px 1px 10px #dfdfdf;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 25px;
    cursor: pointer;
}
.etransfer-instructions-btn *{
    vertical-align: middle;
}
.etransfer-instructions-lbl{
    font-weight: lighter;
    font-size: 1.2rem;
    color: #0462c7;
    text-shadow: 1px 0px 0px #0462c7;
}
.etransfer-instructions-img{
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
.other-option{
    width: 200px;
    margin: 15px auto;
    font-size: 1rem;
}
.other-option > p{
    margin-bottom: 5px;
}