<app-swiper-pricing></app-swiper-pricing>
<div class="etransfer-content">
    <div class="container">
        <h2 class="mt-4 eTranfer-title">Etransfer Method</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-3">
                <div class="card p-2 etransfer-item">
                    <div class="card-body justify-content-center">
                        <div class="d-flex">
                            <div class="p-2">
                                <img class="" src="../../../../assets/img/trac--261-1@1x.png">
                            </div>
                            <div class="p-2 flex-grow-1">
                                <h6 class="card-title">Etransfer Instruction</h6>
                                <small class="card-text">(Send Etransfer Manually)</small>
                            </div>
                            <div class="p-2">
                                <img class="flex-shrink-1" src="../../../../assets/img/trac--10-10@1x.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card p-2 etransfer-item">
                    <div class="card-body justify-content-center">
                        <div class="d-flex">
                            <div class="p-2">
                                <img class="" src="../../../../assets/img/trac--50-1@1x.png">
                            </div>
                            <div class="p-2 flex-grow-1">
                                <h6 class="card-title">Send Request</h6>
                                <small class="card-text">(Pay Externally)</small>
                            </div>
                            <div class="p-2">
                                <img class="flex-shrink-1" src="../../../../assets/img/trac--10-10@1x.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>