.etransfer-send-request-content * {
    color:#0462c7;
    font-family: ubuntu;
}
.etranfer-send-request-content-body *{
    font-weight: 500;
}
.etransfer-payment-email{
    font-size: 1rem;
    color: #0462c7;
    text-shadow: 1px 0px 0px #0462c7;
}
.send-request-info,.send-request-confirmation-info{
    text-align: justify;
}
.etranfer-send-request-payment-area {
    text-align: center;
}
.etransfer-send-request-btn{
    padding: 10px;
    background: rgb(195,235,232);
    background: linear-gradient(90deg, rgba(195,235,232,1) 0%, rgba(111,178,232,1) 55%, rgba(48,135,232,1) 100%);
    box-shadow: 1px 1px 10px #dfdfdf;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 25px;
    cursor: pointer;
}
.etransfer-send-request-btn *{
    vertical-align: middle;
}
.etransfer-send-request-lbl{
    font-weight: lighter;
    font-size: 1.2rem;
    color: #0462c7;
    text-shadow: 1px 0px 0px #0462c7;
}
.etransfer-send-request-img{
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
.other-option{
    width: 200px;
    margin: 15px auto;
    font-size: 1rem;
}
.other-option > p{
    margin-bottom: 5px;
}