<app-swiper-pricing></app-swiper-pricing>
<div class="etransfer-send-request-content">
    <div class="container">
        <h4 class="mt-4 etranfer-send-request-title">To Pay Externally</h4>
        <div class="row justify-content-center">
            <div class="col-md-10 etranfer-send-request-content-body">
                <p>an email from interac will be sent to</p>
                <p><a class="etransfer-payment-email">mcambare@gmail.com</a></p>
                <p class="send-request-info">
                    Open the email and follow the instructions to pay your QuantX invoice through your online banking app.
                </p>
                <p class="send-request-confirmation-info">
                    You will receive an email confirmation once payment has been received. If at any time you want to change your payment method, 
                    you can do so through your QuantX payments portal by reopening this invoice.
                </p>
                <div class="etranfer-send-request-payment-area">
                    <a class="etransfer-send-request-btn">
                        <div class="d-flex">
                            <span class="flex-grow-1 etransfer-send-request-lbl">Payment sent!</span>
                            <img class="etransfer-send-request-img" src="../../../../assets/img/trac--10-16@1x.png">
                        </div>
                    </a>
                    <div class="other-option"> 
                        <p><a class="pay-later">I will send it later</a></p>
                        <p>or <a class="click-here">click here</a> to receive a request to pay externally</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>