
<div class="etransfer-send-request-sent-content">
    <div class="etransfer-send-request-sent-body">
        <img class="sent-img" src="../../../../assets/img/soustraction-6-1@1x.png">
        <p><b>Interac Etransfer Request Sent!</b></p>
        <p class="sent-info">
            <span>Remember that you can change</span>
            <span>how to pay this invoice at any time</span>
            <span>by re-opening this invoice through</span>
            <span>your payments dashboard.</span>
        </p>
        <a class="etransfer-send-request-btn mt-3">
            <div class="d-flex">
                <img class="etransfer-send-request-img" src="../../../../assets/img/trac--10-47@1x.png">
                <span class="flex-grow-1 etransfer-send-request-lbl">See my Invoices</span>
            </div>
        </a>
    </div>
</div>