<p>default-layout works!</p>
<div class="sample-slider">
    <swiper class="mySwiper"
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-1.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-2.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-3.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-4.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-5.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-6.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-7.jpg" /></ng-template>
    <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-8.jpg" /></ng-template>
</swiper>
</div>

<div class="wrapper">
    <div class="container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>