
<div class="etransfer-instructions-sent-content">
    <div class="etransfer-instructions-sent-body">
        <img class="sent-img" src="../../../../assets/img/soustraction-6-1@1x.png">
        <p><b>Great, Thank you!</b></p>
        <p class="sent-info">
            <span>You will receive an email</span>
            <span>confirmation once</span>
            <span>payment has been received</span>
        </p>
        <a class="etransfer-send-request-btn mt-3">
            <div class="d-flex">
                <img class="etransfer-send-request-img" src="../../../../assets/img/trac--10-47@1x.png">
                <span class="flex-grow-1 etransfer-send-request-lbl">See my Invoices</span>
            </div>
        </a>
    </div>
</div>